header {
  background: #eee;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

header a:first-child {
  float: right;
  margin: 0 0 20px 30px;
}

#start-btn {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
}

button:hover {
  background: tomato;
  border: 1px solid;
}

.controls {
  position: relative;
  top: -30px;
}

#start {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row-reverse; /* from right to left*/
  list-style-type: none; /* no bullet in the lists */
  position: fixed;
  bottom: 0;
  right: 10;
}

ul li video {
  display: block;
}

.smallscreen {
  transform: rotateY(-180deg);
  height: 150px;
  width: 200px;
  padding: 0;
}

.video-hover{
  height: 150px;
  width: 200px;
  padding: 0;
  border: 7px solid white;
}

.video-click{
  border: 7px solid white;
}

.video-under{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  background-color: #262626;
  opacity: 0.5;
}


/*#start {
  display: none;
}*/

.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: #1a1a1a;
  background-size: cover; 
}

.hidden {
  display: none;
}

section.controller {
    color: white;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    vertical-align: middle;
    text-align: center;
    opacity: 0.8;
}


button.btn.btn-primary.circle-btn {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid #258bcf;
    background-color: ivory;
    margin: 8px;
}

/*lightgoldenrodyellow*/
/*honeydew*/
/*khaki*/
/*ivory*/
button.btn.btn-primary.circle-btn:hover {
    background-color: khaki;
}

img.img-btn-circle {
    height: 24px;
    width: 24px;
}

.div-start{
  margin-top: 150px;
}

.div-btns {
    padding-top: 10px;
}

#div-btns-container {
    height: 150px;
}
